body {
	background: #011035;
	
	margin: 0;
}

#wrapper {
	width: 980px;
	margin: 130px auto 0 auto;
	border: 1px solid #fff;
}

#header {
	border: 1px solid blue;
	min-height: 155px;
}

#left,
#right {
	display: inline-block;
	vertical-align: top;
}

#left {
	width: 660px;
	border: 1px solid red;
}

#right {
	border: 1px solid green;
}